* {
   padding: 0;
   margin: 0; 
}

body {
   background: gray;
   font-family: "Times New Roman";
}

header, .center, footer {
   border-radius: 5px;
   background-color: white;
   margin: 0px auto;
   width: 1000px;
}

header {
   height: 50px;
}

.center {
   min-height: 200px; 
   padding-bottom: 10px;
}

footer {
  height: 50px;
  padding: 10px 0 0 0;
  box-sizing: border-box;
  text-align: center; 
}

nav {
   width: 100px;
   padding: 5px;
   border-radius: 5px;
   background-color: silver;
   float: left;
   margin: 5px;
} 

aside {
   width: 250px;
   float: right;
   margin: 5px;
   padding: 0 5px;
   border-radius: 5px;
   background-color: silver;
   font-family: Arial;
   font-size: small;
   line-height: 1.25;
}   

main, #test {
   padding: 10px 10px 0 120px;
}

h1 {
   font-size: xx-large;
   text-align: center;
   line-height: 50px;  
}

#logo {
   margin: 3px;
   height: 44px;
   float: left;   
}
   
p, dd {
   text-align: justify;
   text-indent: 30px;
}

p:not(.aside), dd {
   font-size: medium;   
}

ul {
   list-style-type: none;
}

li ul li {
   text-indent: 25px;
}

a:link, a:visited {
   color: blue;
}

h3:not(.aside) {
   padding-top: 25px;
}

h3.aside {
   padding-top: 5px;
}

.hrefUp {
   margin: -20px 0 0 5px;
   letter-spacing: -.5px;
}

table {
   text-align: center;
   margin-left: 450px;
   border-spacing: 2px;
}

#calculatorWindow {
   height: 30px;
   width: 207px;
   border: solid .5px hsl(0, 0%, 65%);
   background-color: white;
}

button {
   height: 30px;
   width: 40px;   
}

button#equalSign {
   height: 62px;
}

button#zero {
   width: 82px;
}

button#testSubmit {
   width: auto;
   height: auto;
}

.testQuestion {
   border: solid 2px black;
   margin: 3px 2px;
   padding: 3px 2px;
   border-radius: 5px;
}
